/ {
    aliases {
        led0 = &{/leds/led_0};
    };

    leds {
        compatible = "gpio-leds";
        led_0 {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        };
    };
};

&pinctrl {
    i2c0_custom_pins: i2c0_custom_pins {
        group1 {
            pinmux = <I2C0_SDA_GPIO9>, <I2C0_SCL_GPIO10>;
            bias-pull-up;
            drive-open-drain;
            output-high;
        };
    };
};

&i2c0 {
    pinctrl-0 = <&i2c0_custom_pins>;
    status = "okay";
    mcp9808@18 {
        compatible = "microchip,mcp9808";
        reg = <0x18>;
        status = "okay";
        resolution = <3>;
    };
};
